    .Header{
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        z-index: 10;
    }
    .Login{
        Width: 129px;
        color: white;
        Height: 48px;
        
        bottom: 98.22%;
    background: #15A6FF;
    box-shadow: 0px 10px 99px rgba(116, 138, 151, 0.3);
    border-radius: 54px;
        outline: none;
        border: 1px solid #15A6FF ;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .Signup{
        Width: 129px;
        
        Height: 48px;
        
        margin-right: 10px;
    border-radius: 54px;
        outline: none;
        border: 1px solid #15A6FF ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    }
    .Chaart{
        display:flex;
        justify-content:center;
        align-items:center;
        font-weight:bold;
        font-size:2rem;
        margin-left:90px}
    .Chaartimage{
        width: 34px;
    }

    .Login,.Signup:hover{
        cursor: pointer;
    }

    @media screen  and (min-width:1024px){
        .Login{
            width: 129px;
            height: 48px;
        }
        .Signup{
            Width: 129px;
        
        Height: 48px;
        }
    }

    @media screen and (max-width:1023px)
    {
        .Login{
            width: 119px;
            height: 48px;
            margin-right: -35px;
            

        }
        .Signup{
            Width: 119px;
        
        Height: 48px;
        }
        .Chaart{
            margin-left: 45px;
        }
    }
    @media screen  and (max-width:767px)
    {
        .Login{
            width: 85px;
            height: 28px;
            margin-right: -60px;
        }
        .Signup{
            Width: 85px;
        
        Height: 28px;
        }
        .Chaart{
            margin-left: 16px;
        }
        .Header{
            height: 3rem;
        }
    }
    @media screen  and (max-width:425px){
        .Login{
            width: 60px;
            height: 25px;
            margin-right: -80px;
        }
        .Signup{
            width: 85px;
        height: 29px;
        }
        .Chaart{
            margin-left: 10px;
            font-size: 12px;
        }
        .Chaartimage{
            width: 15px;
        }
        .Header{
            height: 2rem;
        }
    }
